* {
  box-sizing: border-box;
}

/* Variables */
:root {
  --brand-color: #2e80ce;
  --background-01: #10375c;

  --content-01: #fff;
  --content-02: #10375c;

  --desc: #575f66;
  --desc-on-color-01: #c9d2da;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  height: 2000px;
  color: var(--content-01);
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

/*========== Common ========== */
/* Utility */
.container {
  width: 117rem;
  max-width: calc(100% - 4.8rem);
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Button */
.btn--primary {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--brand-color);
  line-height: 1.75;
}

.btn--primary:hover {
  opacity: 0.9;
}

.btn--ghost {
  color: var(--desc-on-color-01);
  font-weight: 300;
  line-height: 1.75;
  background: none;
}

.btn--ghost:hover {
  color: var(--content-01);
  text-decoration: underline;
}

.btn--sm {
  padding: 0 2rem;
  min-width: 10.8rem;
  height: 4.4rem;
  border-radius: 2.2rem;
  font-size: 1.6rem;
  line-height: 2.8rem;
}

.btn--lg {
  padding: 0 3rem;
  min-width: 20.5rem;
  height: 6rem;
  border-radius: 3rem;
  font-size: 1.8rem;
  line-height: 1.667;
}

/*==========  Header ========== */
.header {
  position: sticky;
  top: -2rem;
  text-shadow: 0.05rem 0rem 0rem rgb(255, 255, 255);
  background-color: var(--background-01);
  z-index: 10;
}

.nav {
  display: flex;
  padding: 3rem 0 1rem;
}

/* Brand */
.brand,
.brand__container {
  display: flex;
  align-items: center;
}

.brand__container {
  gap: 0.6rem;
}

.brand__name {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 0.5rem;
  line-height: 0.7778;
}

.brand__name--top {
  font-size: 1.8rem;
}

.brand__name--bottom {
  font-size: 1.2rem;
  font-weight: 300;
}

/* Menu */
.menu {
  display: flex;
  align-items: center;
  margin-left: 31.8rem;
}

.menu__container {
  display: flex;
  gap: 4.2rem;
}

.menu__item {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
  color: var(--desc-on-color-01);
}

.menu__item:hover,
.menu__item--active {
  text-shadow: 0.05rem 0rem 0rem rgb(255, 255, 255);
  color: var(--content-01);
  list-style: disc;
}

/* Action */
.action {
  display: flex;
  margin-left: auto;
}

/*==========  Hero ========== */
.hero {
  padding: 6.6rem 0 11rem;
  background: var(--background-01);
}

.hero__layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Content */
.hero__content {
  width: 44%;
}

.hero__heading {
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.14286;
  letter-spacing: -0.14rem;
}

.hero__desc {
  color: var(--desc-on-color-01);
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.6667;
  margin-top: 2.2rem;
}

.hero__cta {
  display: flex;
  align-items: center;
  margin-top: 3.8rem;
}

.hero__cta .btn--ghost {
  padding-left: 3.8rem;
  color: var(--content-01);
}

/* illustration */
.hero__illustration {
  position: relative;
  width: 46%;
}

.hero__img img {
  position: relative;
  width: 33rem;
  height: 54rem;
  border-radius: 0.6rem;
  object-fit: cover;
  z-index: 2;
}

.hero__img img:last-child {
  position: absolute;
  top: 6.5rem;
  right: 0;
  width: 21rem;
  height: 41rem;
  border-radius: 0rem 0.6rem 0.6rem 0rem;
  z-index: 1;
}

/*==========  Services ========== */
.services {
  padding: 7rem 0;
  margin-top: 10rem;
}

.services__heading {
  color: var(--content-02);
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}

.services__desc {
  width: 46.8rem;
  margin: 1.8rem auto 0;
  color: var(--desc);
  text-align: center;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.667;
}

.services__layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 7rem;
  gap: 11%;
}

.services__img {
  width: 57rem;
  height: 57rem;
  object-fit: cover;
  object-position: 0% 0%;
  border-radius: 1.2rem;
}

.services__info-card-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.services__info-card {
  display: flex;
  align-items: start;
  gap: 1.9rem;
  padding: 2rem;
  border-radius: 1rem;
  transition: ease-in-out 150ms;
  cursor: pointer;
}

.services__info-card:hover {
  background: #fff;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.services__info-card:hover .services__info-card-bullet {
  color: var(--content-01);
  background-color: var(--brand-color);
}

.services__info-card-bullet {
  display: inline-block;
  box-sizing: content-box;
  padding: 1.75rem 1.9rem 1.55rem;
  border-radius: 50%;
  box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.05);
  color: var(--content-02);
  background-color: #eff6fd;
}

.services__info-card-heading {
  color: var(--content-02);
  font-size: 1.8rem;
  font-weight: 600;
}

.services__info-card-desc {
  color: var(--desc);
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
  margin-top: 0.8rem;
}

.services .btn--primary {
  margin-top: 5.5rem;
}
