* {
  box-sizing: border-box;
}

/* Variables */
:root {
  --brand-color: #2e80ce;
  --background-01: #10375c;
  --background-02: #f6fbff;
  --background-03: #e8ebee;

  --card-background-01: #eaf6ff;

  --content-01: #fff;
  --content-02: #10375c;
  --content-03: #aab3ba;

  --desc: #575f66;
  --desc-on-color-01: #c9d2da;
  --desc-on-color-02: #fff;
  --desc-on-color-03: #a9b3bb;

  --border-01: #eaf6ff;
  --border-02: #406181;

  --place-holder: #9ca8b1;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  color: var(--content-01);
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

/*========== Common ========== */
/* Utility */
.container {
  width: 117rem;
  max-width: calc(100% - 4.8rem);
  margin: 0 auto;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Button */
.btn--primary {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--brand-color);
  line-height: 1.75;
}

.btn--primary:hover {
  opacity: 0.9;
}

.btn--ghost {
  color: var(--desc-on-color-01);
  font-weight: 300;
  line-height: 1.75;
  background: none;
}

.btn--ghost:hover {
  color: var(--content-01);
  text-decoration: underline;
}

.btn--sm {
  padding: 0 2rem;
  min-width: 10.8rem;
  height: 4.4rem;
  border-radius: 2.2rem;
  font-size: 1.6rem;
  line-height: 2.8rem;
}

.btn--lg {
  padding: 0 3rem;
  min-width: 20.5rem;
  height: 6rem;
  border-radius: 3rem;
  font-size: 1.8rem;
  line-height: 1.667;
}

.btn--footer {
  padding: 1rem 2.1rem;
  border-radius: 0.4rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 185.714%;
}

/* Desc */
.desc {
  color: var(--desc);
  font-weight: 300;
}

.desc--on-color {
  color: var(--desc-on-color-01);
  font-weight: 300;
}

/*==========  Header ========== */
.header {
  position: sticky;
  top: -2rem;
  text-shadow: 0.05rem 0rem 0rem rgb(255, 255, 255);
  background-color: var(--background-01);
  z-index: 10;
}

.nav {
  display: flex;
  padding: 3rem 0 1rem;
}

/* Brand */
.brand,
.brand__container {
  display: flex;
  align-items: center;
}

.brand__container {
  gap: 0.6rem;
}

.brand__name {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 0.5rem;
  line-height: 0.7778;
}

.brand__name--top {
  font-size: 1.8rem;
}

.brand__name--bottom {
  font-size: 1.2rem;
  font-weight: 300;
}

/* Menu */
.menu {
  display: flex;
  align-items: center;
  margin-left: 31.8rem;
}

.menu__container {
  display: flex;
  gap: 4.2rem;
}

.menu__item {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
  color: var(--desc-on-color-01);
  cursor: pointer;
}

.menu__item:hover,
.menu__item--active {
  text-shadow: 0.05rem 0rem 0rem rgb(255, 255, 255);
  color: var(--content-01);
  list-style: disc;
}

.menu__item a {
  padding: 1rem 0;
}

/* Action */
.action {
  display: flex;
  margin-left: auto;
}

/*==========  Hero ========== */
.hero {
  padding: 6.6rem 0 11rem;
  background: var(--background-01);
}

.hero__layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Content */
.hero__content {
  width: 44%;
}

.hero__heading {
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.14286;
  letter-spacing: -0.14rem;
}

.hero__desc {
  font-size: 1.8rem;
  line-height: 1.6667;
  margin-top: 2.2rem;
}

.hero__cta {
  display: flex;
  align-items: center;
  margin-top: 3.8rem;
}

.hero__cta .btn--ghost {
  padding-left: 3.8rem;
  color: var(--content-01);
}

/* illustration */
.hero__illustration {
  position: relative;
  width: 46%;
}

.hero__img img {
  position: relative;
  width: 33rem;
  height: 54rem;
  border-radius: 0.6rem;
  object-fit: cover;
  z-index: 2;
}

.hero__img img:last-child {
  position: absolute;
  top: 6.5rem;
  right: 0;
  width: 21rem;
  height: 41rem;
  border-radius: 0rem 0.6rem 0.6rem 0rem;
  z-index: 1;
}

/*==========  Services ========== */
.services {
  padding: 7rem 0;
  margin-top: 10rem;
}

.services__heading {
  color: var(--content-02);
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}

.services__desc {
  width: 46.8rem;
  margin: 1.8rem auto 0;
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.667;
}

.services__layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 7rem;
  gap: 11%;
}

/* Illustration */
.services__img {
  width: 57rem;
  height: 57rem;
  object-fit: cover;
  object-position: 0% 0%;
  border-radius: 1.2rem;
}

/* Card list */
.services__info-card-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Card */
.services__info-card {
  display: flex;
  align-items: start;
  gap: 1.9rem;
  padding: 2rem;
  border-radius: 1rem;
  transition: ease-in-out 150ms;
  cursor: pointer;
}

.services__info-card:hover {
  background: #fff;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.services__info-card:hover .services__info-card-bullet {
  color: var(--content-01);
  background-color: var(--brand-color);
}

.services__info-card-bullet {
  display: inline-block;
  box-sizing: content-box;
  padding: 1.75rem 1.9rem 1.55rem;
  border-radius: 50%;
  box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.05);
  color: var(--content-02);
  background-color: #eff6fd;
}

.services__info-card-heading {
  color: var(--content-02);
  font-size: 1.8rem;
  font-weight: 600;
}

.services__info-card-desc {
  font-size: 1.6rem;
  line-height: 1.75;
  margin-top: 0.8rem;
}

.services .btn--primary {
  margin-top: 5.5rem;
}

/*==========  About ========== */
.about {
  padding: 9rem 0 10rem;
  margin-top: 11rem;
  background-color: var(--background-02);
}

.about__heading {
  color: var(--content-02);
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}

.about__desc {
  width: 46.8rem;
  font-size: 1.8rem;
  line-height: 1.6667;
  margin-top: 1.8rem;
}

/* Card list */
.about__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  margin-top: 8.6rem;
}

/* Card */
.about__card {
  padding: 4.3rem 4.2rem;
  border: 1.6rem solid var(--border-01);
  transition: ease-in-out 150ms;
}

.about__card:hover {
  border-color: var(--brand-color);
  transform: translateY(-1.6rem);
}

.about__card__heading {
  color: var(--content-02);
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38462;
  margin-top: 1.8rem;
}

.about__card__desc {
  font-size: 1.6rem;
  line-height: 1.75;
  margin-top: 2.8rem;
}

.about .btn--ghost {
  margin-top: 1.8rem;
  color: var(--desc);
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
}

.about .btn--ghost:hover {
  color: var(--brand-color);
  text-decoration: none;
  font-weight: 400;
}

/*==========  About ========== */
.description {
  margin: 17rem 0 0;
}

.description__layout {
  display: flex;
}

.description__illustration {
  position: relative;
}

.description img {
  width: 51.2rem;
  height: 37rem;
  object-fit: cover;
  border-radius: 0.6rem;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
}

.description img:last-child {
  position: absolute;
  top: 12.1rem;
  left: 23.8rem;
  width: 33.2rem;
}

.description__content {
  margin-top: 8.2rem;
  margin-left: 18.8rem;
}

.description__heading {
  color: var(--content-02);
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}

.description__desc {
  margin-top: 1.8rem;
  line-height: 1.67;
  font-size: 1.8rem;
}

.description a {
  margin-top: 3.8rem;
}

/*==========  Doctors ========== */
.doctors {
  margin: 17.8rem 0 0;
  padding-top: 7.5rem;
}

.doctors__heading {
  color: var(--background-01);
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}

.doctors a {
  margin: 3.8rem auto 0;
}

.doctors__dentists-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  margin-top: 7rem;
}

.dentist-card {
  transition: ease-in-out 150ms;
  cursor: pointer;
}

.dentist-card:hover {
  transform: scale(1.1);
}

.dentist-card__img-frame {
  height: 31.8rem;
  border-radius: 0.6rem;
  background-color: var(--card-background-01);
  overflow: hidden;
}

.dentist-card__img {
  width: 200%;
  height: 100%;
  object-fit: cover;
  object-position: 0% 10%;
  transform: translateX(-27%);
}

.dentist-card:nth-child(2) .dentist-card__img {
  width: 230%;
  transform: translateX(-29%) translateY(7%);
}

.dentist-card:nth-child(3) .dentist-card__img {
  width: 250%;
  transform: translateX(-32%) translateY(3%);
}

.dentist-card:last-child .dentist-card__img {
  width: 200%;
  transform: translateX(-18%) translateY(9%);
}

.dentist-card__name {
  margin-top: 1.2rem;
  color: var(--background-01);
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.75;
}

.dentist-card__address {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.85;
}

.pagination {
  display: flex;
  gap: 1.8rem;
  align-items: center;
  justify-content: center;
  color: var(--desc);
}

.doctors .pagination {
  margin: 3.8rem auto 0;
}

.pagination__button {
  padding: 1rem 1.55rem;
  border: 1px solid var(--desc);
  border-radius: 50%;
  transition: ease-in-out 150ms;
  cursor: pointer;
}

.pagination__button:hover {
  color: var(--content-01);
  border: 1px solid var(--brand-color);
  background-color: var(--brand-color);
}

.pagination__item {
  transform: translateX(-20%);
}

.pagination__next {
  transform: rotate(180deg);
}

/*==========  Mobile app ========== */
.mobile {
  margin-top: 26.5rem;
}

.mobile__layout {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 100%;
  border-radius: 0.4rem;
  padding: 7.6rem 7rem;
  background-color: var(--brand-color);
}

.mobile__img {
  position: absolute;
  bottom: 0;
}

.mobile__heading {
  width: 48.9rem;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}

.mobile__desc {
  width: 58.6rem;
  margin-top: 1.8rem;
  color: #fff;
  font-size: 1.8rem;
  line-height: 1.67;
}

.mobile__cta {
  display: flex;
  gap: 2.8rem;
  margin-top: 3.8rem;
}

/*==========  Blog ========== */
.blog {
  margin-top: 17rem;
}

.blog__layout {
  display: flex;
  justify-content: space-between;
}

.blog--left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.8rem;
}

.blog__heading {
  width: 47rem;
  color: var(--content-02);
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}

.blog__cta {
  color: var(--content-02);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.56;
  text-decoration-line: underline;
}

.blog .pagination {
  justify-content: start;
}

.blog--right {
  display: flex;
  gap: 3rem;
}

.blog__card {
  width: 27rem;
  min-height: 37.5rem;
  border: 1px solid var(--background-03);
  border-radius: 1.2rem;
  background: #fff;
  transition: ease-in-out 150ms;
  cursor: pointer;
}

.blog__card:hover {
  box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
}

.blog__card:hover .blog__card-content .btn--ghost {
  color: var(--brand-color);
}

.blog__card-img {
  width: 100%;
  border-radius: 1.2rem 1.2rem 0rem 0rem;
}

.blog__card-content {
  padding: 1.8rem 2.2rem 2rem;
}

.blog__card-heading {
  color: var(--content-02);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.625;
}

.blog__card-desc {
  font-size: 1.4rem;
  line-height: 1.71429;
  margin-top: 1rem;
}

.blog__card-content .btn--ghost {
  color: var(--content-02);
  margin-top: 1.2rem;
  font-size: 1.4rem;
  font-weight: 400;
}

/*==========  Banner ========== */
.banner {
  height: 45.2rem;
  margin-top: 17rem;
}

.banner .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-02);
}

.banner__heading {
  color: var(--content-02);
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}

.divider {
  background-color: var(--brand-color);
}

.banner .divider {
  width: 13.6rem;
  height: 0.2rem;
  margin: 1.8rem auto 0;
}

.banner__desc {
  width: 61.7rem;
  margin: 1.8rem auto 0;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
}

.banner .btn--primary {
  margin: 3.8rem auto 0;
}

/*==========  Footer ========== */
.footer {
  height: 55.3rem;
  margin-top: 17rem;
  background-color: var(--background-01);
}

.footer__layout {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  justify-content: center;
  padding: 10rem 0 4.2rem;
}

.footer__links {
  display: flex;
  justify-content: space-between;
}

.footer__brand {
  width: 33.6rem;
}

.footer__desc {
  color: var(--desc-on-color-03);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}

.footer__brand .footer__desc {
  margin-top: 2.1rem;
  width: 33.6rem;
}

.footer__column,
.footer__list-content {
  display: flex;
  flex-direction: column;
}

.footer__column {
  gap: 2.8rem;
}

.footer__list-heading {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
}

.footer__list-content {
  gap: 1rem;
  justify-content: start;
  margin-top: 2rem;
}

.footer__list-item {
  color: var(--desc-on-color-03);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 185.714%;
}

.footer__list-item:hover {
  text-decoration: underline;
}

.footer__column--contact {
  width: 33.2rem;
  gap: 2rem;
}

.footer__socials {
  display: flex;
  gap: 1rem;
}

.footer__column--contact .footer__desc {
  width: 27.3rem;
  font-size: 1.4rem;
}

.footer__action {
  display: flex;
  gap: 1.2rem;
}

.footer__input {
  width: 21.2rem;
  height: 4.6rem;
  padding: 1rem;
  border: 1px solid var(--border-02);
  border-radius: 0.4rem;
  color: var(--place-holder);
  font-family: "Sora", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 185.714%;
  background-color: transparent;
}

.footer__input:focus {
  outline: none;
  caret-color: var(--place-holder);
}

.footer__input::placeholder {
  color: var(--place-holder);
  font-family: "Sora", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 185.714%;
}

.footer .divider {
  width: 117rem;
  height: 0.1rem;
  background-color: var(--border-02);
}

.footer__copyright {
  color: var(--content-03);
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 185.714%;
}
